@{
    ViewBag.Title = "Administrative Functions";
}

<div class="row">
    <div class="col-md-6">
        <h2>Administration Functions</h2>
    </div>
</div>

<div class="row" style="min-height: 355px;">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-condensed table-striped table-bordered" style="text-align: center; width: 100%; table-layout: fixed;">
            <tr>
                <td style="width: 33.33%">
                    <a class="btn btn-block btn-primary" style="font-size: 13pt; font-weight: bold;" title="Manage Users" href='@Url.Action("ManageUsers", "Admin")'>Manage Users</a>
                </td>
                <td style="width: 33.33%">
                    <a class="btn btn-block btn-info" style="font-size: 13pt; font-weight: bold;" title="Manage Users" href='@Url.Action("ManageDrivers", "Admin")'>Manage Drivers</a>
                </td>
                <td style="width: 33.33%">
                    <a class="btn btn-block btn-warning" style="font-size: 13pt; font-weight: bold;" title="Manage Users" href='@Url.Action("ManageBusSchedules", "Admin")'>Manage Bus Schedules</a>
                </td>
            </tr>
        </table>
    </div>

</div>