@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.png" />*@

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Login Form - Tracking Application</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="logreg-forms" style="padding: 5px;">

            @await Html.PartialAsync("_MessageView")
            <form class="form-signin">

                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Drivers Tracking System</h1>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign-In</h1>

                @if (@ViewBag.Message != null)
                {
                    <p style="border: 1px solid red; margin: 5px; padding: 2px;">
                        <b>
                            @ViewBag.Message
                        </b>
                    </p>
                }
                <input type="text" id="userId" name="userId" class="form-control" placeholder="User ID" required="" autofocus="" style="margin-bottom: 5px;">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">

                <button class="btn btn-success btn-block" type="submit" title="Sign In"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            </form>

        </div>

    }
</body>
</html>
